<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.radixtouch.com/templates/admin/atrio/source/lighthr/pages/examples/login-register.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Jan 2022 17:43:32 GMT -->
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<title>BJL RH</title>
	<!-- Favicon-->
	<link rel="icon" href="./assets/images/favicon.ico" type="image/x-icon">
	<!-- Plugins Core Css -->
	<link href="./assets/css/app.min.css" rel="stylesheet">
	<!-- Custom Css -->
	<link href="./assets/css/style.css" rel="stylesheet" />
	<link href="./assets/css/pages/extra_pages.css" rel="stylesheet" />
</head>

<body class="light">
	<div class="loginmain">
		<div class="loginCard">
			<div class="login-btn splits">
				<p>Already an user?</p>
				<button class="active">Login - BJL RH</button>
			</div>
			<div class="rgstr-btn splits">
				<img src="./assets/images/BJL-CHAT-BRANCA.png" style="margin-top:-40px">
			</div>
			<div class="wrapper">
				<form action="/login" method="post" id="login" tabindex="500">
					<img src="./assets/images/logoPreta.e44d709f.png" style="opacity:90%;margin-bottom:40px;width:95%">
					<div class="mail">
						<input name="username" type="text">
						<label>Usuário</label>
					</div>
					<div class="passwd">
						<input name="password" type="password">
						<label>Senha</label>
					</div>
					<div id="invalid_password">
						
					</div>
					
					<div class="text-end p-t-8 p-b-31">
						<a href="#">
							Esqueceu a senha?
						</a>
					</div>
					<div class="submit">
						<button type="submit" class="dark">Entrar</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>

	<script src="./assets/js/Socket.js"></script>
	<!-- Plugins Js -->
	<script src="./assets/js/app.min.js"></script>
	<!-- Extra page Js -->

	<script src="./assets/js/pages/examples/login-register.js"></script>
</body>


</html>